#header {
  height: 50px;
  background: #7d0000;
  color: #fff;
}

#branding h1 {
  color: #fff;
}

a:link,
a:visited {
  color:#7d0000;
}

div.breadcrumbs {
  background: #7d0000;
  color: #fff;
}

div.breadcrumbs a {
  color: #fff;
}

.module h2, .module caption, .inline-group h2 {
  background: #7d0000;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background: #7d0000;
  color: #fff;
}