{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Home {% endblock %}
{%block content%}

  <!-- Showcase -->
  <section id="showcase-sm" style="padding:0;background-color:black;">
    {% include 'partials/_alert.html' %}
    <div class="container" >
      <div class="home-search p-5">
        <div class="overlay p-4">
          <div class="container" style="text-align: center;">
            <div class="search" style="display:inline-grid; justify-content:center">
            <h1 class="" style="color: white;text-align:left">
              Search
            </h1>
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
                <div class="form-row" style="margin: 0px 0px 10px 0px;">
                  <label class="sr-only">keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder="Keyword">
                      
                <label class="sr-only">City</label>
                <select name="city" class="form-control">
                  <option selected="true" disabled="disabled">Select City</option>
                  {% for key,value in city_choices.items %}
                  <option value="{{key}}">{{value}}</option>
                  {%endfor%}
                </select>    
                               
              </div>
                <!-- Form Row 2 -->
                
                <button style="width: 100%;" class="btn btn-danger" type="submit">Submit form</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-5" style="background-color: black;color:white">
    <div class="container">
      <h3 class="text-center sm-3" style="
      margin: 0 0 45px 0;">Latest Listings</h3>
      
      <div class="card-columns">
        {% if listings %}
        {% for listing in listings %}
        <div class="card text-white bg-danger mb-3 sm-3" style="background-color: black;">
          <div class="card-overlay">
            <h2>{%if listing.newprice %}
              <span class="badge badge-dark text-white">₹{{ listing.newprice | intcomma }}</span>
               {%else%}
               <span class="badge badge-dark text-white">SALE</span>
              {%endif%}
            </h2>
          </div>
          <div class="card-header"><h4 class="text">{{listing.name}}</h4></div>
          <div class="card-body">
            <h3 class="card-title">{{listing.merchant}}</h3>
            <h4>{{listing.link| default:""}}</h4>
             {{listing.merchant.city|default:""}},{{listing.merchant.state|default:""}}
            <p class="card-text">
            {{listing.description|default:""}}
            <hr>
              <div class="">
             {{listing.posted | timesince }}</div>
            </p>
            
            <a href="{% url 'listing' listing.id %}" style="border-color: white;color:white" class="btn btn-outline-primary">More Info</a>
            {% if listing.link %}
            <a href="https://{{listing.link}}" style="border-color: white;color:white" class="btn btn-outline-primary">Visit Link</a>
            {% endif %}
          </div>
        </div>
        <!-- <div class="row">
          <div class="card listing-preview">
            <div class="card-img-overlay">
              <h2>{%if listing.newprice %}
                <span class="badge badge-secondary text-white">₹{{ listing.newprice | intcomma }}</span>
                 {%else%}
                 <span class="badge badge-secondary text-white">SALE</span>
                {%endif%}
              </h2>
            </div>

            
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{listing.name}}</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary">&nbsp;</i>{{listing.merchant.sublocality|default:""}}</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  {%if listing.qty %}
                  <i class=""></i> Qty:{{listing.qty|default:""}} left
                  {%else%}
                  <i class=""></i>
                {%endif%}
                <i class=""></i> {% if listing.is_valid %}
                                   <p>Valid offer</p>
                                   {% else %}
                                   <p>Invalid offer</p>
                                   {% endif %}
              </div>
                <div class="col-6">
                  <i class=""></i> {{listing.merchant.city|default:""}},{{listing.merchant.state|default:""}}</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-12">
                  <i class=""></i>{{listing.description|default:""}}</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-12">
                  <i class="fas fa-user"></i>&nbsp; {{listing.merchant}}</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> &nbsp; {{listing.posted | timesince }}</div>
              </div>
              <hr>
              <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>     -->
        {% endfor %}

        {%else%}

         <div class='col-md-12'>
         <p>No Deals Available</p>
         </div>

        {%endif%}
    </div></div>
  </section>

  <section id="services" class="py-5 text-white" style="background-color:rgb(0, 0, 0)">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>inventory Management</h3>
          
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Sell with us</h3>
        </div>
      </div>
    </div>
  </section>

{% endblock %}