boto3==1.12.16
botocore==1.15.16
dj-database-url==0.5.0
Django==2.2.4
django-heroku==0.3.1
django-storages==1.9.1
django-taggit==1.2.0
docutils==0.15.2
gunicorn==20.0.4
jmespath==0.9.5
Pillow==8.2.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
python-dateutil==2.8.1
pytz==2018.5
s3transfer==0.3.3
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
whitenoise==5.0.1
