{%load static%}

<!-- Top Bar -->
<section id="top-bar" class="p-3" style="background-color: rgb(22, 23, 23);
color: white;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 lg-12 sm-3">
               <i class="" style=""> contact@lucid.in</i>
            </div>
            <div class="col-md-4 lg-12 sm-3">
                <i class=""></i> 
               <i class=""></i> 
            </div>
            <div class="col-md-4 lg-12 sm-3">
                <div class="social text-right">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
