{% extends 'base.html' %}
{% load static %}
{% block  title%}All Deals {%endblock%}
{% load humanize %}
{% block content %}

<section id="showcase-inner" class="py-4 text-white" style="background-color:darkred">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Browse All Deals</h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active"> Browse Deals</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Listings -->
<section id="listings" class="py-4">
  <div class="container-fluid">
    <div class="row">

      {% if listings %}
      {% for listing in listings %}
      <div class="col-md-6 col-lg-2 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="{{ listing.photo.url }}" alt="">
          <div class="card-img-overlay">
            {%if listing.newprice %}
              <h2>
              <span class="badge badge-secondary text-white">₹{{listing.newprice | intcomma }}</span>
            </h2>
            {%else%}
            <h2>
              <span class="badge badge-secondary text-white">SALE</span>
            </h2>
            {%endif%}
          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">{{listing.name}}</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i>{{listing.merchant.sublocality}}</p>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                {%if listing.qty %}
                <i class="fas fa-th-large"></i> Qty:{{listing.qty}} left</div>
                {%else%}
                <i class="fas fa-th-large"></i></div>
              {%endif%}
              <div class="col-6">
                <i class=""></i> {{listing.merchant.city}},{{listing.merchant.state}}</div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class=""></i> {% if listing.is_valid %}
                                 <p>offer valid</p>
                                 {% else %}
                                 <p>invalid offer</p>
                                 {% endif %}
                                </div>
              <div class="col-6">
                <i class=""></i>{{listing.description}}</div>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-12">
                <i class="fas fa-user"></i>&nbsp; {{listing.merchant}}</div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6">
                <i class="fas fa-clock"></i> &nbsp; {{listing.posted | timesince }}</div>
            </div>
            <hr>
            <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
          </div>
        </div>
      </div>
      {% endfor %}

      {%else%}

      <div class='col-md-12'>
        <p>No Deals Available</p>
      </div>

      {%endif%}


    </div>

    <div class="row">
      <div class="col-md-12">
        {% if listings.has_other_pages %}
        <ul class="pagination">
          {% if listings.has_previous %}
           <li class="page-item">
             <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a>
           </li>
           {%else%}
             <li class="page-item disabled">
               <a href="" class="page-link">&laquo;</a>
             </li>
          {%endif%}
          {% for i in listings.paginator.page_range %}
           {% if listings.number == i %}
              <li class="page-item active">
                <a href="" class="page-link">{{i}}</a>
                {%else%}
                <li class="page-item">
                  <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
              </li>
           {%endif%}
          {%endfor%}
          {% if listings.has_next %}
           <li class="page-item">
             <a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>
           </li>
           {%else%}
             <li class="page-item disabled">
               <a href="" class="page-link">&raquo;</a>
             </li>
          {%endif%}
        </ul>
        {%endif%}
      </div>
    </div>
  </div>
</section>

{% endblock %}